{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Privacy Policy</h2>
            <ul>
                <li>
                    <a href="{% url 'index'%}">
                        Home 
                    </a>
                </li>

                <!-- <li>Pages</li> -->

                <li class="active">Privacy Policy</li>
            </ul>
        </div>
    </div>
    <div class="page-shape">
        <div class="shape1">
            <img src="{% static 'images/shape/1.png'%}" alt="shape" />
        </div>
        <div class="shape3">
            <img src="{% static 'images/shape/3.png'%}" alt="shape" />
        </div>
        <div class="shape4">
            <img src="{% static 'images/shape/4.png'%}" alt="shape" />
        </div>
        <div class="shape5">
            <img src="{% static 'images/shape/5.png'%}" alt="shape" />
        </div>
        <div class="shape6">
            <img src="{% static 'images/shape/6.png'%}" alt="shape" />
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Privacy -->
<section class="privecy-area ptb-100">
    <div class="container">
        <h2>Welcome to Verdant Privacy Policy</h2>
        <p>Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Usage Data; Tracker.

            Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policy or by specific explanation texts displayed prior to the Data collection.
            Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Application.
            Unless specified otherwise, all Data requested by this Application is mandatory and failure to provide this Data may make it impossible for this Application to provide its services. In cases where this Application specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.
            Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.
            Any use of Cookies – or of other tracking tools – by this Application or by the owners of third-party services used by this Application serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.
            
            Users are responsible for any third-party Personal Data obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.
        </p>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p> -->

        <h2>Mode and place of processing the Data</h2>
        <p><h4>Methods of processing</h4>
            The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
            The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of this Application (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.
            
           <br><br> <h4>Legal basis of processing</h4>
            The Owner may process Personal Data relating to Users if one of the following applies:
            
            Users have given their consent for one or more specific purposes. Note: Under some legislations the Owner may be allowed to process Personal Data until the User objects to such processing (“opt-out”), without having to rely on consent or any other of the following legal bases. This, however, does not apply, whenever the processing of Personal Data is subject to European data protection law;<br><br>
            Provision of Data is necessary for the performance of an agreement with the User and/or for any pre-contractual obligations thereof;<br><br>
            Processing is necessary for compliance with a legal obligation to which the Owner is subject; <br><br>
            Processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in the Owner;<br><br>
            Processing is necessary for the purposes of the legitimate interests pursued by the Owner or by a third party. <br><br>
            In any case, the Owner will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.
            
           <br><br> <h4>Place</h4>
            <p> Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.</p>
            
            <p>Depending on the User's location, data transfers may involve transferring the User's Data to a country other than their own. To find out more about the place of processing of such transferred Data, Users can check the section containing details about the processing of Personal Data.</p>
            
            <p>Users are also entitled to learn about the legal basis of Data transfers to a country outside the European Union or to any international organization governed by public international law or set up by two or more countries, such as the UN, and about the security measures taken by the Owner to safeguard their Data.</p>
            
            <p>If any such transfer takes place, Users can find out more by checking the relevant sections of this document or inquire with the Owner using the information provided in the contact section.</p>
            
            <br><br><h4>Retention time</h4> 
            Personal Data shall be processed and stored for as long as required by the purpose they have been collected for. <br>
            
            <h6>Therefore:</h6>
            
            Personal Data collected for purposes related to the performance of a contract between the Owner and the User shall be retained until such contract has been fully performed. <br><br>
            Personal Data collected for the purposes of the Owner’s legitimate interests shall be retained as long as needed to fulfill such purposes. Users may find specific information regarding the legitimate interests pursued by the Owner within the relevant sections of this document or by contacting the Owner. <br><br>
            The Owner may be allowed to retain Personal Data for a longer period whenever the User has given consent to such processing, as long as such consent is not withdrawn. Furthermore, the Owner may be obliged to retain Personal Data for a longer period whenever required to do so for the performance of a legal obligation or upon order of an authority. <br><br>
            
            Once the retention period expires, Personal Data shall be deleted. Therefore, the right of access, the right to erasure, the right to rectification and the right to data portability cannot be enforced after expiration of the retention period.
        </p>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p> -->
        <h2>The purposes of processing</h2>
        <p>
            The Data concerning the User is collected to allow the Owner to provide its Service, comply with its legal obligations, respond to enforcement requests, protect its rights and interests (or those of its Users or third parties), detect any malicious or fraudulent activity, as well as the following: Tag Management, Analytics and Displaying content from external platforms.

For specific information about the Personal Data used for each purpose, the User may refer to the section “Detailed information on the processing of Personal Data”.
        </p>
    </div>
</section>
<!-- End Privacy -->

{% endblock %}